body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

.App {
  text-align: center;
}

button {
  margin: 10px;
  padding: 5px;
}